<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sound Together</title>
<!--    <link rel="stylesheet" href="./styles/style.css">-->

    <meta property="og:title" content="Sound Together">
    <meta property="og:description" content="Сервис для совместного составления музыкальных плейлистов">
<!--    <meta property="og:image" content="https://example.com/image.jpg">-->
<!--    <meta property="og:url" content="https://example.com/">-->
</head>
<body>
<header>
    <h1>Sound Together</h1>
    <p>Сервис для совместного составления музыкальных плейлистов</p>
<!--    <nav>-->
<!--        <ul>-->
<!--            <li><a href="index.html">Эта страница</a></li>-->
<!--            <li><a href="catalog.html">Другая страница</a></li>-->
<!--        </ul>-->
<!--    </nav>-->
</header>
<main>
    <article>
        <section>
            <h2>Тут обязательно будет контент</h2>
        </section>
<!--        <section>-->
<!--            <h2>Вторая секция</h2>-->
<!--            <p>Она тоже обо мне</p>-->
<!--        </section>-->
<!--        <section>-->
<!--            <h2>И третья</h2>-->
<!--            <p>Вы уже должны были начать догадываться.</p>-->
<!--        </section>-->
    </article>
</main>
<footer>
    <p>Сайт сделала викитори :)</p>
</footer>
<!-- сюда можно подключить jquery <script src="scripts/app.js" defer></script> -->
</body>
</html>